/*!
Theme Name: Sliding Panels Template
Author: Andersson Mesa
Author URI: https://www.facebook.com/andercard22
Description: Theme based on the resource https://codyhouse.co/gem/sliding-panels-template/
Version: 1.0
License URI: https://codyhouse.co/terms/
Text Domain: slidingpanels
*/

@import './bourbon/_bourbon.scss'; // http://bourbon.io/

@import './partials/variables'; // colors, fonts etc...

@import './partials/mixins'; // custom mixins

@import './partials/layout'; // responsive grid and media queries

@import './partials/ionicons/ionicons.scss'; // http://ionicons.com/

/* -------------------------------- 

Primary style

-------------------------------- */

*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  family: $primary-font;
}

body {
  font: {
    family: $primary-font; // variables inside partials > _variables.scss
  }
  color: $color-6;
  background-color: $color-7;
}

a {
  color: $color-2;
  text-decoration: none;
}

// headers
h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: #404040;
}

p,li,a {
  color: #404040;
  font-size: 1.2rem;
  font-weight: 400;
}

.cd-project-info_content ol li,
.cd-project-info_content ul li,
p {
  line-height: 1.6;
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem;
}

img {
  display: inline-block;
  max-width: 100%;
}

/* -------------------------------- 

Patterns - reusable parts of our design

-------------------------------- */

.cd-text-replace {
  /* replace text with image */
  color: transparent;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
}

/* -------------------------------- 

Menu trigger

-------------------------------- */

.cd-nav-trigger {
  position: absolute;
  z-index: 4;
  top: 24px;
  right: 5%;
  height: 52px;
  width: 52px;
  border-radius: 50%;
  background-color: rgba(#000, .8);
  @include transition(background .2s);

  .cd-icon, 
  .cd-icon::before, 
  .cd-icon::after {
    /* menu icon created in CSS */
    position: absolute;
    background-color: $color-6;
    border-radius: 2px;

    /* Force Hardware Acceleration in WebKit */
    @include transform(translateZ(0));
    @include backface-visibility(hidden);
  }

  .no-touch &:hover {
    background-color: rgba(#000, 1);
  }

  .cd-icon {
    /* middle line of the menu icon */
    display: inline-block;
    width: 18px;
    height: 2px;
    @include center; // mixin inside partials > _mixins.scss
    @include transition(transform .3s, background-color .3s);

    &::before, &::after {
      /* upper and lower lines of the menu icon */
      content: '';
      top: 0;
      right: 0;
      width: 100%;
      height: 100%; 
      @include transition(transform .3s);
    }

    &::before {
      @include transform(translateY(-6px));
    }

    &::after {
      @include transform(translateY(6px));
    }
  }

  &.project-open .cd-icon {
    /* user selects a projects - transform the icon into a 'X' */
    background-color: rgba($color-6, 0);

    &::before, &::after {
      background-color: rgba($color-6, 1);
    }
    
    &::before {
      @include transform(translateY(0) rotate(45deg));
    }

    &::after {
      @include transform(translateY(0) rotate(-45deg));
    }
  }

  &.nav-visible .cd-icon {
    /* user opens the navigation - transform the icon into an arrow */
    @include transform(translateY(-50%) translateX(-50%));

    &::after {
      @include transform(translateX(5px) translateY(3px) rotate(-45deg) scaleX(.5));
    }

    &::before {
      @include transform(translateX(5px) translateY(-3px) rotate(45deg) scaleX(.5));
    }
  }

  @include MQ(M) {
    &.nav-visible .cd-icon {
      @include transform(translateY(-50%) translateX(-50%) rotate(-90deg));

      &::after {
        @include transform(translateX(-5px) translateY(3px) rotate(45deg) scaleX(.5));
      }

      &::before {
        @include transform(translateX(-5px) translateY(-3px) rotate(-45deg) scaleX(.5));
      }
    }
  }
}

/* -------------------------------- 

Projects

-------------------------------- */

.cd-projects-container {
  position: relative;
  z-index: 2;
  overflow-x: hidden;

  &.project-open {
    /* smooth scroll on iOS devices */
    -webkit-overflow-scrolling: touch;
  }
}

.cd-projects-previews {
  position: relative;
  z-index: 2;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .project-open & {
    pointer-events: none;
  }

  li {
    width: 100%;
    overflow: hidden;
    @include transition(transform .5s);

    /* Force Hardware Acceleration */
    @include backface-visibility(hidden);
    @include transform(translateZ(1px));

    &.selected {
      opacity: 0;
      /* move selected project preview out of the viewport with no transition */
      @include transform(translateX(-100%));
      @include transition(transform 0s);
    }

    &.slide-out {
      @include transform(translateX(-100%));
    }
  }

  a {
    display: block;
    height: 100vh;
    width: 100%;
    /* fixes a bug on projects caption width */
    @include transform(translateY(0%));
    opacity: 0;
    @include transition(opacity .5s);
  }

  .bg-loaded a {
    opacity: 1;
  }

  @include MQ(M) {
    flex-direction: row;
    li {
      display: inline-block;
      height: 100%;
      flex: 1;

      &.selected {
        @include transform(translateY(-100%));
      }

      &.slide-out {
        @include transform(translateY(-100%));
      }
    }
  }
}

.cd-projects {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;

  > li {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    @include transition(opacity .3s);

    &.selected {
      z-index: 1;
      opacity: 1;
      @include transition(opacity 0s);
    }
  }

  .preview-image {
    display: block;
    height: 100vh;
  }
}

.cd-projects-previews a, 
.cd-projects .preview-image {
  /* set a background image for each project */
  background-color: $color-7;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cd-project-title {
  position: absolute;
  width: 100%;
  // top: 50%;
  top: calc(50% - 20px);
  left: 0;
  color: $color-6;
  @include transition(transform .6s .2s);
  text-align: center;
  @include font-smoothing;

  &::after {
    /* line below project title */
    content: '';
    position: absolute;
    left: 50%;
    bottom: -10px;
    width: 40px;
    height: 1px;
    background: $color-6;

    @include transform(translateX(-50%) scale(0));
    @include transition(transform .3s);
  }

  .no-touch .cd-projects-previews a:hover &::after {
    @include transform(translateX(-50%) scale(1));
  }

  .cd-projects &::after {
    @include transform(translateX(-50%) scale(1));
    @include transition(transform .3s .3s);
  }

  h2 {
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 0;
    color: #ffffff;
  }

  p {
    font-size: 1.1rem;
    font-family: $secondary-font;
    font-style: italic;
    padding: .4em 2em;
    opacity: .8;
    color: #ffffff;
  }

  @include MQ(M) {
    top: 50vh;
    @include transform(translateX(0%));
  }
}


li.selected .cd-project-title,
.cd-projects > li:nth-of-type(2).selected .cd-project-title,
.cd-projects > li:nth-of-type(3).selected .cd-project-title,
.cd-projects > li:nth-of-type(4).selected .cd-project-title {
  @include transform(translateY(0));
}

.cd-projects li.selected .cd-project-title::after {
  @include transition(transform .3s 0s);
  @include transform(translateX(-50%) scale(0));
}

.touch .cd-projects li.selected .cd-project-title::after {
  @include transition(transform 0s);
}

.cd-project-info {
  display: none;
  padding: 4em 0;
  background-color: $color-6;
  color: tint($color-5, 40%);

  .content-visible & {
    display: block;
  }
}

.cd-project-page-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  background-color: $color-6;
  transition: transform .25s;
  transform: translate3d(0,0,0);
  z-index: 3;
  &.activo {
    transform: translate3d(0,-100%,0);
  }
}

.cd-project-page-header {
  height: 300px;
  width: 100%;
  background-color: #272727;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  &:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,.6)
  }
  h1 {
    font-size: 2rem;
    color: $color-6;
    position: relative;
    z-index: 20;
  }
  @include MQ(M) {
    h1 {
      font-size: 2.6rem;
    }
  }
}

.cd-project-info_content,
.cd-project-page {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;

  strong {
    font-weight: 700;
  }

  a {
    text-decoration:  underline;
    color: #404044;
  }

  hr {
    border-color: #fafafa;
    width: 30%;
    margin: 20px auto;
  }

  blockquote {
    padding: 5px 10px;
    display: flex;
    align-items: center;
    border-left: 3px solid #404040;
    margin: 30px 20px;
    p {
      font-size: 1.2rem;
      font-style: italic;
    }
  }

  code {
    background-color: rgba(0,0,0,.05);
    padding: 3px 6px;
    font-family: Menlo,Monaco,"Courier New",Courier,monospace;
  }

  pre {
    background-color: rgba(0,0,0,.05);
    padding: 15px;
    margin: 20px 0;
    font-family: Menlo,Monaco,"Courier New",Courier,monospace;
  }

  ul {
    list-style-type: circle;
  }
  ol {
    list-style-type: decimal;
  }
  ol, ul {
    margin: 10px 0 20px 18px;
    li {
    }
  }
}

.cd-project-page {
  padding: 50px 0;
}

.cd-projects-container .scroll {
  display: block;
  position: absolute;
  z-index: 2;
  bottom: 30px;
  left: 50%;
  width: 44px;
  height: 44px;

  /* rest button default style */
  cursor: pointer;
  border: none;

  &:focus {
    outline: none;
  }

  background: url('./img/cd-icon-arrow.svg') no-repeat center center;
  visibility: hidden;
  @include transform(translateX(-50%) scale(0));
  @include transition(transform .3s 0s, visibility 0s .3s);
}

.cd-projects-container.project-open .scroll {
  visibility: visible;
  @include transform(translateX(-50%) scale(1));
  @include transition(transform 0.4s 0s, visibility 0s 0s);
  @include animation(cd-translate 1.2s 0.8s);
  @include animation-iteration-count(2);
}

.no-touch .cd-projects-container.project-open .scroll:hover {
  @include transform(translateX(-50%) scale(1.2));
}

@include keyframes(cd-translate) {
  0% {
    @include transform(translateX(-50%) scale(1));
  }

  50% {
    @include transform(translateY(10px) translateX(-50%) scale(1));
  }

  100% {
    @include transform(translateX(-50%) scale(1));
  }
}

/* -------------------------------- 

 Navigation

-------------------------------- */

.cd-primary-nav {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  text-align: center;
  opacity: 0;
  padding: 70px 0;
  @include transition(opacity .6s);
  /* vertically align its content */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  ul {
    
  }

  h2 {
    position: relative;
    margin: 2.4em 0 2em;

    color: $color-1;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: 1px;

    &::after {
      /* line below .cd-label*/
      content: '';
      position: absolute;
      @include center(x);
      bottom: -16px;
      height: 1px;
      width: 40px;
      background-color: currentColor;
    }
  }
  
  a {
    display: inline-block;
    padding: .4em 1em;
    border-radius: 4px;
    @include transition(background .2s);

    color: $color-6;
    font-family: $secondary-font;
    font-size: 1.5rem;
    font-weight: 700;
    @include font-smoothing;
  }

  &.nav-visible {
    opacity: 1;
  }

  &.nav-clickable {
    z-index: 3;
  }

  .no-csstransitions &.nav-visible {
    z-index: 3;
  }

  @include MQ(L) {

    li {
      a {
        &:hover {
          background-color: $color-6;
          color: $color-7;
        }
      }
    }
    a {
      font-size: 1.8rem;
    }
  }
}

.cd-primary-nav__social {
  position: absolute;
  right: 5%;
  bottom: 30px;
}

.pagination {
  position: fixed;
  bottom: 24px;
  right: 5%;
  z-index: 50;
  display: flex;
  .prev,
  .next {
    color: transparent;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
    background-image: url('./img/cd-icon-arrow-2.svg');
    background-position: center;
    background-repeat: no-repeat;
  }
  .next {
    transform: rotate(180deg);
  }
  a,span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    background-color: rgba(#000, .7);
    color: #ffffff;
    transition: background .3s;
    &:hover {
      background-color:  rgba(#000, .9)
    }
    &:first-child {
      border-radius: 3px 0 0px 3px;
    }
    &:last-child {
      border-radius: 3px 0 0px 3px;
      &.current {
        border-radius: 0px 3px 3px 0px;
      }
    }
  }
  .current {
    background-color: rgba(#000, 1);
  }
  @include MQ(M) {
  }
}

// galeria 
.sliding_gallery  {
  // display: flex;
  // flex-wrap: wrap;
  .sliding_gallery-item {
    img {
      height: auto;
    }
  }
}

// modal
.lg-outer {
  .lg-thumb-outer {
    background-color: rgba(#000, .8);
  }
  .lg-toogle-thumb {
    background-color: rgba(#000, .8);
  }
  .lg-thumb-item {
    border-width: 2px;
    border-radius: 4px;
    border-color: transparent;
    &.active {
      border-color: #ffffff;
    }
  }
}

.lg-progress-bar .lg-progress {
  background-color: #fff;
}


@for $i from 1 through 9 {
  .sliding_gallery-columns-#{$i} {
    .sliding_gallery-item,
    .grid-sizer {
      width: 100%;
    }
  }
}

@include MQ(S) {
  @for $i from 1 through 9 {
    .sliding_gallery-columns-#{$i} {
      .sliding_gallery-item,
      .grid-sizer {
        width: 50%;
      }
    }
  }
}

@include MQ(M) {
  @for $i from 1 through 9 {
    .sliding_gallery-columns-#{$i} {
      .sliding_gallery-item,
      .grid-sizer {
        width: 100%/ $i;
      }
    }
  }
}


.grid-galllery {
  margin: 20px 0;
  opacity: 0;
}

/* clear fix */
.grid-galllery:after {
  content: '';
  display: block;
  clear: both;
}

.grid-sizer,
.grid-item { 
  width: 50%; 
  display: block;
  padding: 3px;
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  max-width: 100%;
  width: 100%;
}

/**
* Footer
*/

.cd-project-page-footer,
.page-project-page-footer {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  background-color: $color-7;
  width: 100%;
  padding: 20px;
  p,a {
    color: rgba($color-6,.5);
    font-size: 14px;
    font-weight: 300;
    text-align: center;
  }
  a {
    color: rgba($color-6,.8);
  }
  @include MQ(M) {
    flex-direction: row;
    justify-content: space-between;
    p,a {
      text-align: inherit;
    }
  }
}

.page-project-page-footer {
  display: flex;
}

.content-visible, {
  .cd-project-page-footer {
    display: flex;
  }
}

.cd-projects-item {
  .cd-project-page-footer {
    padding: 20px 40px 20px 20px;
  }
}

.footer-menus {
  display: flex;
  align-items: center;
  margin-top: 15px;
  justify-content: center;
  @include MQ(M) {
    margin-top: 0;
    justify-content: flex-start;
  }
}

#social-nav-footer {
  ul {
    display: flex;
    flex-wrap: wrap;
    li {
      position: relative;
      color: rgba($color-6, .6);
      margin-left: 20px;
      a {
        font-weight: 300;
        font-size: 0rem;
        color: rgba($color-6, .6);
        &:before {
          font-size: 1.5rem;
        }
      }
      &:before {
        content: '';
      }
      &:first-child {
        margin-left: 0;
      }
    }
  }
  @include MQ(M) {
    ul {
      li {
        a {
          transition: color .3s;
          &:before {
            font-size: 1.7rem;
          }
          &:hover {
            color: $color-6;
          }
        }
      }
    }
  }
}


/* -------------------------------- 

JavaScript Disabled

-------------------------------- */

.no-js .cd-primary-nav {
  display: block;
  position: static;
  opacity: 1;
  margin-bottom: 1.5em;

  ul {
    display: block;
    @include clearfix;
    padding: 0 5%;
  }

  li:not(.cd-label) {
    display: inline-block;
  }
}

/*
  * logo
*/

.home-logo {
  position: absolute;
  top: 24px;
  left: 5%;
  z-index: 5;
  display: block;
  img {
    width: 100%;
    max-width: 160px;
  }
  @media(min-width: 768px){
    img {
      max-width: 190px;
    }
  }
}

/**
  * Error 404
*/

.error404 {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-image: url('./img/error404.jpg');
  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, .5);
  }
}

.error404__contenido {
  position: relative;
  padding: 20px;
  z-index: 30;
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    color: #ffffff;
    font-size: 32px;
    text-align: center;
  }
}

.error404__btn {
  background-color: #fff;
  border-radius: 6px;
  padding: 15px 25px;
  margin-top: 20px;
}